@model _3viknavinir.Models.Media

@{
    ViewBag.Title = "Details";
}

<h2> Mynd @Html.DisplayFor(model => model.title) ( @Html.DisplayFor(model => model.yearOfRelease) )</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.yearOfRelease)
        </dd>

        <dt>
			@Html.DisplayName("Lýsing: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
			@Html.DisplayName("Mynd: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posterPath)
        </dd>
    </dl>
</div>
<p>
	@Html.ActionLink("Breyta", "Edit", routeValues: null, htmlAttributes: new { id = "editLink" })
    @Html.ActionLink("Til baka á forsíðu", "Index")
</p>
