@model _3viknavinir.Models.MediaDetailsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
}
<ul class="crumbs">
    <li class="crumb crumb-first">
        <a href="/">SÍÁT</a>
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        <a href="/ListTranslations/AlphabetizedTexts">Textar A-Ö</a>
    </li>
    <li class="crumb crumb-last">
        <span class="crumb-seperator"> > </span>
        <a href="#">@Html.DisplayFor(model => model.media.title)</a>
    </li>
</ul>
<h2>@Html.DisplayFor(model => model.media.title) ( @Html.DisplayFor(model => model.media.yearOfRelease) )</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
		<dt id="">
		<dt>
			@Html.DisplayName("Sett inn af: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => Model.translation.userID)
		</dd>
        <dt>
			@Html.DisplayName("Lýsing: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media.description)
        </dd>

        <dt>
			@Html.DisplayName("Mynd: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.media.posterPath)
        </dd>
    </dl>
</div>
<p>
	@Html.ActionLink("Athugasemdir", "Discussion", routeValues: null, htmlAttributes: new { id = "discussionLink" })
</p>
<form action="/Translation/Download/"><input type="submit" value="Hlaða niður þýðingu" class="btn btn-default" id="downloadTranslationButton" /></form>
<form action="/Translation/EditTranslation/"><input type="submit" value="Breyta þýðingu" class="btn btn-default" id="editTranslationButton" /></form>
<form action="/Translation/Edit/"><input type="submit" value="Breyta lýsingu" class="btn btn-default" id="editDetailsButton"/></form>
