@model _3viknavinir.Models.Media

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.title) ( @Html.DisplayFor(model => model.yearOfRelease) )</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
		<dt id="">
		<dt>
			@Html.DisplayName("Sett inn af: ")
		</dt>

		<dd>
			@Html.DisplayFor(model => model.title)
		</dd>
        <dt>
			@Html.DisplayName("Lýsing: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
			@Html.DisplayName("Mynd: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posterPath)
        </dd>
    </dl>
</div>
<p>
	@Html.ActionLink("Athugasemdir", "Discussion", routeValues: null, htmlAttributes: new { id = "discussionLink" })
</p>
<form action="/Translation/Download/"><input type="submit" value="Hlaða niður þýðingu" class="btn btn-default" id="downloadTranslationButton" /></form>
<form action="/Translation/EditTranslation/"><input type="submit" value="Breyta þýðingu" class="btn btn-default" id="editTranslationButton" /></form>
<form action="/Translation/Edit/"><input type="submit" value="Breyta lýsingu" class="btn btn-default" id="editDetailsButton"/></form>
<p>
    @Html.ActionLink("Til baka á forsíðu", "Index")
</p>
