@model _3viknavinir.Models.DiscussionViewModel
@{
    ViewBag.Title = "Discussion";
}
 @*Fanney*@
<ul class="crumbs">
    <li class="crumb crumb-first">
        @Html.ActionLink("SÍÁT", "Index", "Home")
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        @Html.ActionLink("Textar A-Ö", "AlphabetizedTexts", "ListTranslations")
    </li>
    <li class="crumb crumb-last">
        <span class="crumb-seperator"> > </span>
        @*<a href="">@Html.DisplayFor(model => model.media.title)</a>*@
    </li>
</ul>
<h2>Nafn Myndar - Athugasemdir</h2>
<div class="mainContent">
    @if (Model.discussions != null) 
    { 
        foreach(var item in Model.discussions)
    {
        <div class="comment">
            <div class="commentHeader">
                <p>
                    @item.userID
                </p>
                <p> @item.dateAdded</p>
                
            </div>
            <div class="commentBody">
                <p> @item.comment </p>
            </div>
        </div>
    }
    }
    <div class="addComment">
        <div class="addCommentHeader">
            <p>
                Skrifa Athugasemd
            </p>
        </div>
        <div class="addCommentBody">
            <form>
                <textarea class="form-control" rows="10" cols="60"></textarea>
                <input type="submit" class="btn btn-default" value="Senda" />
            </form>
        </div>
    </div>
</div>

