@model _3viknavinir.Models.ViewModels.EditDetailsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.title</h2>

<ul class="crumbs">
    <li class="crumb crumb-first">
        @Html.ActionLink("SÍÁT", "Index", "Home")
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        @Html.ActionLink("Textar A-Ö", "AlphabetizedTexts", "ListTranslations")
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        @Html.ActionLink(Model.title, "Details", "Translation", new { id = @Model.ID }, null)
    </li>
    <li class="crumb crumb-last">
        <span class="crumb-seperator"> > </span>
        <a href="#">Athugasemdir</a>
    </li>
</ul>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("title","Titill:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("year","Ártal:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("imdbId", "IMDB ID: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imdbId)
                @Html.ValidationMessageFor(model => model.imdbId)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("description", "Lýsing: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { @cols="40", @rows="6" })
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("category", "Flokkur: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, (IEnumerable<SelectListItem>)Model.categories)
                @Html.ValidationMessageFor(model => model.categories)
            </div>
        </div>
        <div class="form-group uploadfile">
            <label class="col-md-2 control-label">Hlaða inn .srt skrá</label>
            <div class="col-md-10">
                <input type="file" name="srtFile" /><br />
            </div>
        </div>
      

        @*<div class="form-group">
			@Html.Label("Mynd: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="oldDetailPhoto">
                   <img src="@Html.DisplayFor(model => model.posterPath)" alt="@Html.DisplayFor(model => model.title)">
                    <p>Núverandi mynd</p>
                </div>
                @Html.TextBoxFor(m => m.choosePoster, new { type = "file" })
                @Html.ValidationMessageFor(m => m.choosePoster)
                
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-default" id="saveEditDescriptionButton"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Til baka", "Details")
</div>
