@model _3viknavinir.Models.EditTranslationViewModel

@{
    ViewBag.Title = "Breyta þýðingu á " + Model.title + " (" + Model.year + ")";
}

<h2>@ViewBag.Title</h2>

<div id="TextToEdit">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        foreach(var item in Model.textToTranslate)
        {
            <div class="form-group">
                @Html.HiddenFor(model => item.ID)
                <div class="col-md-10">
                    @Html.EditorFor(model => item.chapterNumber)
                    @Html.ValidationMessageFor(model => item.chapterNumber)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.startTime)
                    @Html.ValidationMessageFor(model => item.startTime)
                </div>
                <p>-></p>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.endTime)
                    @Html.ValidationMessageFor(model => item.endTime)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.subtitle)
                    @Html.ValidationMessageFor(model => item.subtitle)
                </div>
            </div>
            
        }
		
        <div class="fullyTranslateCheckbox">
            <input type="checkbox" class="fullyTranslated" />
            <p>Fullkláraður texti</p>
        </div>
        
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Vista" class="btn btn-default" />
        </div>
      
    }

</div>
	
<div id="OldText">
	@foreach (var item in Model.translatedText)
	{
		@Html.HiddenFor(model => item.ID)
                <div class="col-md-10">
                    @Html.EditorFor(model => item.chapterNumber, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => item.chapterNumber)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.startTime, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => item.startTime)
                </div>
                <p>-></p>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.endTime, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => item.endTime)
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => item.subtitle, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => item.subtitle)
                </div>
	}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
