@model _3viknavinir.Models.ViewModels.EditDetailsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Breyta lýsingu</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Titill: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("Ártal: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("Lýsing: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Flokkur: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.DropDownListFor()*@
                <select>
                    <option value="16">Annað</option> @*id=16*@
                    <option value="1">Ævintýramynd</option> @*id=1*@
                    <option value="2">Gamanmynd</option> @*id=2*@
                    <option value="3">Fjölskyldumyndir</option> @*id=3*@
                    <option value="4">Íslenskar</option> @*id=4*@
                    <option value="5">Söngleikur</option> @*id=5*@
                    <option value="6">Rómantík</option> @*id=6*@
                    <option value="7">Spennumyndir</option> @*id=7*@
                    <option value="8">Hryllingsmyndir</option> @*id=8*@
                    <option value="9">Hasarmyndir</option> @*id=9*@
                    <option value="10">Barnamyndir</option> @*id=10*@
                    <option value="11">Drama</option> @*id=11*@
                    <option value="12">Vísindaskáldskapur</option> @*id=12*@
                    <option value="13">Þættir</option> @*id=13*@
                    <option value="14">Anime</option> @*id=14*@
                    <option value="15">Heimildamyndir</option> @*id=15*@
                 </select>
                 @Html.ValidationMessageFor(model => model.categories)
            </div>
        </div>
      

        <div class="form-group">
			@Html.Label("Mynd: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.posterPath)<input type="file" value="Velja mynd" id="choosePoster"/>
                @Html.ValidationMessageFor(model => model.posterPath)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-default" id="saveEditDescriptionButton"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Til baka", "Details")
</div>
