@model _3viknavinir.Models.EditTranslationViewModel
@{
    
    ViewBag.Title = "Breyta þýðingu á " + Model.title + " (" + Model.year + ")";
}

<h2>@ViewBag.Title</h2>

<ul class="crumbs">
    <li class="crumb crumb-first">
        @Html.ActionLink("SÍÁT", "Index", "Home")
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        @Html.ActionLink("Textar A-Ö", "AlphabetizedTexts", "ListTranslations")
    </li>
    <li class="crumb crumbs">
        <span class="crumb-seperator"> > </span>
        @Html.ActionLink(Model.title, "Details", "Translation", new { id = @Model.mediaID }, null)
    </li>
    <li class="crumb crumb-last">
        <span class="crumb-seperator"> > </span>
        <a href="#">Breyta þýðingu</a>
    </li>
</ul>

<div id="TextToEdit">
    @using ( Html.BeginForm( ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        foreach (var item in Model.textToTranslate)
        {
            <div class="translationLine">
                @Html.HiddenFor(model => item.ID)
                <div class="newChapter">
                    <p class="startendTimeLabel">@Html.Label("Kafli")</p>
                    @Html.EditorFor(model => item.chapterNumber)
                    @Html.ValidationMessageFor(model => item.chapterNumber)
                </div>
                <div class="timeStamps">
                    <div class="newStartTime">
                        <p class="startendTimeLabel">@Html.Label("Byrjunartími")</p>
                        @Html.EditorFor( model => item.startTime)
                        @Html.ValidationMessageFor(model => item.startTime)
                    </div>
                    <div>
                        <p class="timeLabels">-></p>
                    </div>
                        <div class="newEndTime">
                            <p class="startendTimeLabel">@Html.Label( "Endatími" )</p>
                        @Html.EditorFor(model => item.endTime)
                        @Html.ValidationMessageFor(model => item.endTime)
                    </div>
                </div>
                <div class="newSubtitle">
                    <p class="subtitleTextLabel">@Html.Label( "Texti" )</p>
                    @Html.EditorFor(model => item.subtitle)
                    @Html.ValidationMessageFor(model => item.subtitle)
                </div>
            </div>
        }
        <div class="editLines">
            <a href="#" class="AddLine">Bæta við línu</a>
        </div>

        <div class="fullyTranslateCheckbox">
            <input type="checkbox" class="fullyTranslated" />
            <p>Fullkláraður texti</p>
        </div>
        
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Vista" class="btn btn-default" />
        </div>
      
    }

</div>
	
<div id="OldText">
	@foreach (var item in Model.translatedText)
    {
        <div class="translationLine">
            @Html.HiddenFor(model => item.ID)
            <div class="oldChapter">
                <p>@Html.Label("Kafli")</p>
                <input type="text" name="chapterNumber" value="@item.chapterNumber" readonly>
            </div>
            <div class="timeStamps">
                <div class="oldStartTime">
                    <p>@Html.Label("Byrjunartími")</p>
                    <input type="text" name="startTime" value="@item.startTime" readonly>
                </div>
                <p class="timeLabels">-></p>
                <div class="oldEndTime">
                    <p>@Html.Label("Endatími")</p>
                    <input type="text" name="endTime" value="@item.endTime" readonly>
                </div>
            </div>
            <div class="oldSubtitle">
                <p>@Html.Label("Texti")</p>
                <input type="text" name="subtitle" value="@item.subtitle" readonly>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
