@model _3viknavinir.Models.ViewModels.EditDetailsViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Breyta lýsingu</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype="multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.Label("Titill: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("Ártal: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.year)
                @Html.ValidationMessageFor(model => model.year)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("IMDB ID: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imdbId)
                @Html.ValidationMessageFor(model => model.imdbId)
            </div>
        </div>

        <div class="form-group">
			@Html.Label("Lýsing: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, new { @cols="40", @rows="6" })
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Flokkur: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.category, (IEnumerable<SelectListItem>)Model.categories)
                @Html.ValidationMessageFor(model => model.categories)
            </div>
        </div>
      

        <div class="form-group">
			@Html.Label("Mynd: ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" value="choosePoster" id="choosePoster" />
                @*@Html.ValidationMessageFor(model => model.posterPath)*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-default" id="saveEditDescriptionButton"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Til baka", "Details")
</div>
