@model _3viknavinir.Models.TranslationViewModel
@{
    ViewBag.Title = "Þýða";
}


<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            <a href="/">SÍÁT</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="#">Þýða</a>
        </li>
    </ul>
</div>

<h2>@ViewBag.Title</h2>
<div>
    <a href="/ListTranslations/AlphabetizedTexts"> Smelltu Hér til að þýða efni sem er til fyrir</a>
    <p>
        Setjið inn nafn á mynd/þætti sem á að þýða ásamt áartali og mögulega IMDB ID. Valfrjálst er að setja inn .srt skrá með enskum texta eða hálfkláraði þýðingu.
    </p>
    <form>

        <div class="form-group">
            @Html.LabelFor( m => m.movieName, new { @class = "col-md-2 control-label" } )
            <div class="col-md-10">
                @Html.TextBoxFor( m => m.movieName, new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( m => m.yearOfRelease, new { @class = "col-md-2 control-label" } )
            <div class="col-md-10">
                @Html.TextBoxFor( m => m.yearOfRelease, new { @class = "form-control" } )
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor( m => m.imdbID, new { @class = "col-md-2 control-label" } )
            <div class="col-md-10">
                @Html.TextBoxFor( m => m.imdbID, new { @class = "form-control" } )
            </div>
        </div>

            <label>Hlaða inn .srt skrá</label>
            <input type="file" class="filestyle" data-icon="false">
            <input type="submit" class="btn btn-default" value="Byrja að þýða" />

</form>
        


</div>

