@model _3viknavinir.Models.TranslationViewModel
@{
    ViewBag.Title = "Þýða";
}


<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            <a href="/">SÍÁT</a>
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="#">Þýða</a>
        </li>
    </ul>
</div>

<h2>@ViewBag.Title</h2>
<div>
    
    <p>
        Setjið inn nafn á myndefni sem á að þýða ásamt ártali og jafnvel IMDB ID. Valfrjálst er að setja inn .srt skrá með enskum texta eða hálfkláraði þýðingu.
    </p>
    <a href="/ListTranslations/AlphabetizedTexts"> Smelltu hér til að þýða efni sem er til fyrir</a>
    <form>
    @using (Html.BeginForm("Translate", "Translation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
           @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         <div class="form-group">
            @Html.LabelFor(m => m.movieName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.movieName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.movieName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.yearOfRelease, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.yearOfRelease, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.imdbID, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.imdbID, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group uploadfile">
            <label class="col-md-2 control-label">Hlaða inn .srt skrá</label>
            <div class="col-md-10">
                <input type="file" name="fileName" data-icon="false" onchange="check_extension(this.value, 'upload')"  />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="upload" class="btn btn-default" value="Byrja að þýða" />
            </div>
        </div>
        }
    </form>
</div>
    

@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
    @Scripts.Render( "~/Scripts/Scripts.js" )
}

