@{
    ViewBag.Title = "Algengar spurningar";
}
<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            @Html.ActionLink("SÍÁT", "Index", "Home")
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            @Html.ActionLink("FAQ", "FAQ", "Home")
        </li>
    </ul>
</div>

<h2>@ViewBag.Title</h2>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/dark-hive/jquery-ui.css" />

<div id="accordion">
    <h3>Hvernig sæki ég texta?</h3>
    <div>
        <p>
            Það er hægt á mörgum stöðum, allstaðar þar sem þú sérð lista af myndum,
            til dæmis ef þú ferð á forsíðu eða leitar að mynd er dálkur til vinstri með lítilli ör sem byrjar niðurhal.
            Einnig ef þú velur ákveðna mynd er hnappur sem segir "Hlaða niður þýðingu" og þegar ýtt er á hann byrjar niðurhal.
            Góða skemmtun!
        </p>
    </div>
    <h3>Hvernig set ég inn skrá til þess að þýða?</h3>
    <div>
            <p>
            Undir flipanum @Html.ActionLink("\"Þýða\"","Translate", "Translation") er form til þess að bæta við þýðingu á nýrri mynd.
            Þar er hægt að hlaða inn .srt skrá, jafnvel á erlendu tungumáli til þess að hafa til hliðsjónar við þýðingu.
            Einnig er hægt að hlaða inn .srt skrá á öðru tungumáli sé ekki önnur slík til staðar inni á síðunni þar sem texta fyrir ákveðna mynd er breytt.
        </p>
    </div>
    <h3>Hvernig bý ég til nýjan aðgang?</h3>
    <div>
        <p>
            Efst uppi í hægra horninu má sjá hlekk sem á stendur @Html.ActionLink("\"Nýskrá\"", "Register", "Account").
            Ef smellt er á þann hlekk opnast nýskráningarsíða þar sem fylla þarf út upplýsingar um notanda.
            Þegar smellt er á nýskrá hnappinn verður nýr notandi til og getur viðkomandi þaðan frá innskráð sig.
        </p>
    </div>
    <h3>Hvernig óska ég eftir texta</h3>
    <div>
        <p>
            Til þess að óska eftir texta fyrir myndefni þarf notandi að vera innskráður.
            Því næst velur notandinn flipann sem á stendur @Html.ActionLink( "\"Beiðnir\"", "Requests", "ListRequest" ). Þar er smellt á græna plús hnappinn, þá er notanda beint inn á nýja síðu þar
            sem fylla verður út helstu upplýsingar um myndefni.
            Þegar allar nauðsynlegar upplýsingar hafa verið settar inn er hægt að senda inn beiðnina.
            Sé beiðni fyrir sömu mynd nú þegar til staðar virkar beiðnin sem upvote á þá beiðni.
        </p>
    </div>
    <h3>Hvernig leita ég af texta?</h3>
    <div>
        <p>
            Hægt er að leita að textum eftir flokkum  undir @Html.ActionLink("\"Flokkar\"", "Categories", "Category")  flipanum.
            Textum er raðað í stafrófsröð eftir heiti mynda í @Html.ActionLink("Textar A-Ö", "AlphabetizedTexts", "ListTranslations") flipanum.
            Einnig er hægt að leita að texta fyrir ákveðina mynd  í leitarkassa bæði á forsíðu og í flipanum
            @Html.ActionLink( "Textar A-Ö", "AlphabetizedTexts", "ListTranslations" ).
        </p>
    </div>
    <h3>Af hverju þarf ég að vera innskráður?</h3>
    <div>
        <p>
            Innskráðir notendur hafa aðgang að fleiri aðgerðum en óinnskráðir notendur.
            Sem dæmi geta innskráðir notendur breytt þýðingum ásamt því að geta bætt við nýjum einnig geta þeir sent inn beiðnir, þýðingar,
            kosið upp fyrri beiðnir og uppfært lýsingu á myndefni.
        </p>
    </div>
    <h3>Hvernig nota ég textann sem ég sótti?</h3>
    <div>
        <p>Þú sækir .srt skránna með þýðingunni og notar textunarforrit til að bæta henni á myndefni.</p>
    </div>
    <h3>Hvað geri ég ef ég gleymi notendanafn/lykilorðinu mínu?</h3>
    <div>
        <p>
            Ef lykilorð hefur gleymst er hægt að ýta á @Html.ActionLink( "Gleymt Lykilorð", "LostPassword", "Account" ) á
            innskráningarsíðunni og setja þar inn tölvupóstinn sinn og við sendum þér notendanafn og nýtt lykilorð í tölvupósti.
            Athugaðu að það getur tekið nokkrar mínútur fyrir lykilorðið að berast.
        </p>
    </div>
    <h3>Hvernig get ég lagað þýðingu sem er nú þegar til?</h3>
    <div>
        <p>@* Hér má setja actionlink fyrir breyta þýðingu þegar sú síða er tilbúin - SMF *@
            Til að laga þýðingu verðuru að vera innskráður. Þegar ákveðin mynd er valin þá er hægt að laga þýðingu með “Breyta þýðingu”
            hnappinum neðst á síðunni.
        </p>
    </div>
    <h3>Munu þið nokkurtímar deila upplýsingunum sem ég gef ykkur?</h3>
    <div>
        <p>Nei, við munum aðeins nota upplýsingarnar til að hafa geta sent þér gleymt lykilorð og muna hvað þú heitir.</p>
    </div>
    <h3>Þýðingin sem ég sótti er ílla þýdd og/eða óviðeigandi, get ég tilkynnt þýðanda til stjórnanda?</h3>
    <div>
        <p>
            Við viljum endilega vita af því ef þýðing er ekki til fyrirmyndar.
            Niðri í vinsta horninu er @Html.ActionLink( "Hafðu samband", "Contact", "Home" ) hnappur.
            Endilega sendu okkur notendanafn þýðanda og nafnið á tiltekinni þýðingu sem rætt er um.
        </p>
    </div>
</div>
<link href="~/Content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
@section Scripts {
    @Scripts.Render( "~/bundles/jqueryval" )
}