
    @model _3viknavinir.Models.IndexViewModel
    @{
        ViewBag.Title = "SÍÁT";
    }
    @*Liljar*@
    <div id="welcome">
        <p>
            Velkominn á síðu Samfélags Íslensks Áhugafólks um Texta!
            Hér getur þú sótt, deilt, þýtt og spáð í textaþýðingum fyrir myndefni.
        </p>
    </div>
    @*Erla*@
    <div id="searchBox">
        @using (Html.BeginForm("SearchMediaView", "Search", FormMethod.Get))
        {
            @Html.TextBox("SearchString")
            <input type="submit" value="Leita" class="btn btn-default" id="searchButton" />
        }
    </div>
    
    <div class="row">
    <div>
        <table id="homePageTable-2" class="table-striped">
            <thead>
                <tr class="homePageTableRows">
                    <th>Nýjustu Textar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.recentMedia)
                {
                    <tr class="homePageTableRows">
                        <td>@Html.ActionLink(item.title, "Details", "Translation", new { id = item.ID }, null) (@item.yearOfRelease)</td>
                    </tr>
                }
            </tbody>
        </table>
    <table id="homePageTable-1" class="table-striped">
        <thead>
            <tr class="homePageTableRows">
                <th>Nýjustu Beiðnir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.recentRequests)
            {
                <tr class="homePageTableRows">
                    <td>@item.title (@item.yearOfRelease)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
     </div>
   