@model IEnumerable<_3viknavinir.Models.Requests>
@{
    ViewBag.Title = "Beiðnir";
}

<div class="breadcrumb">
	<ul class="crumbs">
		<li class="crumb crumb-first">
			<a href="/">SÍÁT</a>
		</li>
		<li class="crumb crumb-last">
			<span class="crumb-seperator"> > </span>
			<a href="#">Beiðnir</a>
		</li>
	</ul>
</div>

<h2>@ViewBag.Title</h2>

<div>
	<form action="/ListRequest/NewRequest/"><input type="submit" value="" id="addRequestButton" /></form>
</div>
<div class="requesttablediv">
	<table id="RequestTable" class="table-striped">
		<thead>
			<tr class="requestRow">
				<th class="requestName">Nafn</th>
				<th class="requestYear">Ártal</th>
				<th class="requestIMDBID">IMDB ID</th>
				<th class="requestUpvote">Upvote</th>
			</tr>
		</thead>
		<tbody>
			@*@foreach (var item in Model)
			{
				<tr class="requestRow">
					<td class="requestName">@Html.ActionLink(item.title, "Edit", new { id = item.Id })</td>
					<td class="requestYear">@Html.DisplayFor(modelItem => item.yearOfRelease)</td>
					<td class="requestIMDBID">@Html.DisplayFor(modelItem => item.imdbID)</td>
					<td class="requestUpvote">@Html.DisplayFor(modelItem => item.upvote)</td>
				</tr>
			}*@
		</tbody>
	</table>
</div>
