@{
    ViewBag.Title = "Categories";
}

<h2>Flokkar</h2>
<table>
    <tbody>
        <tr>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/documentary.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Heimildarmyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/action.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Spenumyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/adventure.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Ævintýramyndir</p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/anime.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Anime</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/comedy.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Grínmyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/drama.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Drama</p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/family.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Fjölskyldumyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/horror.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Hryllingsmyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/icelandic.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Íslenskar</p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/kids.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Barnamyndir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/musical.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Söngleikir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/romantic.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Rómantík</p>
                </div>
            </th>
        </tr>
        <tr>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/scifi.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Vísindaskáldskapur</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/show.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Þættir</p>
                </div>
            </th>
            <th>
                <div class="categoriesPhoto">
                    <img src="@Url.Content("~/Content/categoryImg/thiller.jpg")" alt="Vantar mynd" />
                    <p class="categoriesPhoto">Hasar</p>
                </div>
            </th>
        </tr>
    </tbody>
</table>
