@{
    ViewBag.Title = "Categories";
}
<h2>Flokkar</h2>
<div class="categories">
    <div class="categoriesPhoto">
        <a href="/Category/Documentary"><img src="@Url.Content("~/Content/categoryImg/documentary.jpg")" alt="Vantar mynd"></a>
        <a href="/Category/Documentary">Heimildamyndir</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Thriller"><img src="@Url.Content("~/Content/categoryImg/thiller.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Thriller">Spennumyndir</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Adventure"><img src="@Url.Content("~/Content/categoryImg/adventure.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Adventure">Ævintýramyndir</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Anime"><img src="@Url.Content("~/Content/categoryImg/anime.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Anime">Anime</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Comedy"><img src="@Url.Content("~/Content/categoryImg/comedy.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Comedy">Grínmyndir</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Drama"><img src="@Url.Content("~/Content/categoryImg/drama.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Drama">Drama</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Family"><img src="@Url.Content("~/Content/categoryImg/family.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Family">Fjölskyldumyndir</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Horror"><img src="@Url.Content("~/Content/categoryImg/horror.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Horror">Hryllingsmyndir</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Icelandic"><img src="@Url.Content("~/Content/categoryImg/icelandic.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Icelandic">Íslenskar</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Kids"><img src="@Url.Content("~/Content/categoryImg/kids.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Kids">Barnamyndir</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Musical"><img src="@Url.Content("~/Content/categoryImg/musical.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Musical">Söngleikir</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Romantic"><img src="@Url.Content("~/Content/categoryImg/romantic.jpg")" alt="Vantar mynd" /></a>
            <a href="/Category/Romantic">Rómantík</a>
</div>
    <div class="categoriesPhoto">
        <a href="/Category/Scifi"><img src="@Url.Content("~/Content/categoryImg/scifi.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Scifi">Vísindaskáldskapur</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Show"><img src="@Url.Content("~/Content/categoryImg/show.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Show">Þættir</a>
    </div>
    <div class="categoriesPhoto">
        <a href="/Category/Action"><img src="@Url.Content("~/Content/categoryImg/action.jpg")" alt="Vantar mynd" /></a>
        <a href="/Category/Action">Hasar</a>
    </div>
</div>
