@{
    ViewBag.Title = "Flokkar";
}

<div class="breadcrumb">
    <ul class="crumbs">
        <li class="crumb crumb-first">
            @Html.ActionLink("SÍÁT", "Index", "Home")
        </li>
        <li class="crumb crumb-last">
            <span class="crumb-seperator"> > </span>
            <a href="/Category/Categories">Flokkar</a>
        </li>
    </ul>
</div>
<h2>@ViewBag.Title</h2>
<div class="categoriesPhoto">
    <a href="/Category/Adventure"><img src="@Url.Content("~/Content/categoryImg/adventure.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Adventure" class="categoryName">Ævintýramyndir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Comedy"><img src="@Url.Content("~/Content/categoryImg/comedy.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Comedy" class="categoryName">Gamanmyndir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Family"><img src="@Url.Content("~/Content/categoryImg/family.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Family" class="categoryName">Fjölskyldumyndir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Icelandic"><img src="@Url.Content("~/Content/categoryImg/icelandic.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Icelandic" class="categoryName">Íslenskar</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Musical"><img src="@Url.Content("~/Content/categoryImg/musical.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Musical" class="categoryName">Söngleikir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Romantic"><img src="@Url.Content("~/Content/categoryImg/romantic.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Romantic" class="categoryName">Rómantík</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Thriller"><img src="@Url.Content("~/Content/categoryImg/thiller.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Thriller" class="categoryName">Spennumyndir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Horror"><img src="@Url.Content("~/Content/categoryImg/horror.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Horror" class="categoryName">Hryllingsmyndir</a>
</div>

<div class="categoriesPhoto">
    <a href="/Category/Action"><img src="@Url.Content("~/Content/categoryImg/action.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Action" class="categoryName">Hasar</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Kids"><img src="@Url.Content("~/Content/categoryImg/kids.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Kids" class="categoryName">Barnamyndir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Drama"><img src="@Url.Content("~/Content/categoryImg/drama.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Drama" class="categoryName">Drama</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Scifi"><img src="@Url.Content("~/Content/categoryImg/scifi.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Scifi" class="categoryName">Vísindaskáldskapur</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Show"><img src="@Url.Content("~/Content/categoryImg/show.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Show" class="categoryName">Þættir</a>
</div>
<div class="categoriesPhoto">
    <a href="/Category/Anime"><img src="@Url.Content("~/Content/categoryImg/anime.jpg")" alt="Vantar mynd" /></a>
    <a href="/Category/Anime" class="categoryName">Anime</a>
</div>
<div class="categories">
    <div class="categoriesPhoto">
        <a href="/Category/Documentary"><img src="@Url.Content("~/Content/categoryImg/documentary.jpg")" alt="Vantar mynd"></a>
        <a href="/Category/Documentary" class="categoryName">Heimildamyndir</a>
    </div>
</div>
<div class="categories">
    <div class="categoriesPhoto">
        <a href="/Category/Other"><img src="@Url.Content("~/Content/categoryImg/other.jpg")" alt=" alt="Vantar mynd"></a>
        <a href="/Category/Other" class="categoryName">Annað</a>
    </div>
</div>
