<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SÍÁT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
			<div class="navbar-collapse">
				<span class="topheader">
					<a><img src="~/Content/siatlogo.png" class="logoimg" /></a>
					<a class="logotext"><h1>SÍÁT << </h1></a>
				</span>
			</div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forsíða", "Index", "Home")</li>
                    <li>@Html.ActionLink("Textar A-Ö", "Index", "Home")</li>
                    <li>@Html.ActionLink("Flokkar", "Index", "Home")</li>
					<li>@Html.ActionLink("Beiðnir", "Index", "Home")</li>
					<li>@Html.ActionLink("Þýða", "Index", "Home")</li>
					<li>@Html.ActionLink("Um Okkur", "About", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SÍÁT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
